.sample {
    /* Keyword values */
    text-rendering: auto;
    text-rendering: optimizespeed;
    text-rendering: optimizelegibility;
    text-rendering: geometricprecision;

    /* Global values */
    text-rendering: inherit;
    text-rendering: initial;
    text-rendering: revert;
    text-rendering: revert-layer;
    text-rendering: unset;
}
