# yaml-language-server: $schema=https://raw.githubusercontent.com/streetsidesoftware/cspell/main/packages/cspell-tools/cspell-tools.config.schema.json

$schema: https://raw.githubusercontent.com/streetsidesoftware/cspell/main/packages/cspell-tools/cspell-tools.config.schema.json
targets:
  - name: node
    targetDirectory: dict
    compress: false
    format: plaintext
    sources:
      - filename: src/node.txt
        split: true
        allowedSplitWords:
          - src/split_words.txt
      - src/additional_words.txt
    excludeWordsFrom:
      - src/exclude_words.txt
    sort: true
checksumFile: true
