# yaml-language-server: $schema=https://raw.githubusercontent.com/streetsidesoftware/cspell/main/packages/cspell-tools/cspell-tools.config.schema.json

targets:
  - name: "<%= packageName %>"
    sources:
      - filename: "<%= srcFile %>"
        maxDepth: 1 # This is set to 1 to prevent initial builds from taking too long.
    format: "<%= format %>"
    targetDirectory: "./dict"
    generateNonStrict: <%= generateNonStrict %>
    compress: false
