name: autofix.ci
on:
  pull_request:
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  USE_AUTOFIX: ${{ !contains(github.event.pull_request.labels.*.name, 'no-autofix') }}

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: 24.x

      - name: Lint
        run: pnpm run lint:fix

      - name: Sort Source
        run: |
          pnpm run lint:fix:sort-source-files

      - name: Run autofix.ci
        if: env.USE_AUTOFIX == 'true'
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
