name: cspell-action
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  cspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - uses: streetsidesoftware/cspell-action@v7.1.2
