name: Lint
on:
  pull_request:
    paths:
      - ".eslint*"
      - .prettier*"
      - "**/*.js"
      - "**/*.md"
      - "**/*.json"
      - "**/*.yml"
      - "**/*.yaml"
  push:
    paths:
      - ".eslint*"
      - .prettier*"
      - "**/*.js"
      - "**/*.md"
      - "**/*.json"
      - "**/*.yml"
      - "**/*.yaml"
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.1.5
      - run: yarn
      - run: yarn run lint-ci
