name: Lint
on:
  pull_request:
    paths:
      - .prettier*"
      - '**/*.js'
      - '**/*.mjs'
      - '**/*.md'
      - '**/*.json'
      - '**/*.yml'
      - '**/*.yaml'
  push:
    paths:
      - .prettier*"
      - '**/*.js'
      - '**/*.mjs'
      - '**/*.md'
      - '**/*.json'
      - '**/*.yml'
      - '**/*.yaml'
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup

      - name: Restore CSpell cache
        uses: actions/cache@v5.0.2
        with:
          key: cspell-cache-${{ runner.os }}-lint-${{ hashFiles('**/*.ts', '**/*.md') }}
          path: |
            .cspellcache
          restore-keys: |
            cspell-cache-${{ runner.os }}-lint-
            cspell-cache-${{ runner.os }}-

      - run: pnpm i
      - run: pnpm run lint
