name: Publish to NPM

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      PUBLISH_NPM:
        required: true

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup

      # Release Please has already incremented versions and published tags, so we just
      # need to publish all unpublished versions to NPM here
      # See: https://github.com/lerna/lerna/tree/main/commands/publish#bump-from-package
      - name: Publish to NPM
        env:
          NODE_AUTH_TOKEN: ${{secrets.PUBLISH_NPM}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: pnpm lerna publish from-package --no-push --no-private --yes
