name: "build-test"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches-ignore:
      - "dependabot/**"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version:
          - 12.x
          - 14.x

        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn
      - run: yarn test
