name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Test supported Node versions
  test-node-versions:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 22.x
          - 24.x
        os:
          - ubuntu-latest

        include:
          - os: windows-latest
            node-version: 24.x

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - run: pnpm test

  test-conditional-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup
        with:
          node-version: 24.x

      - name: Conditional Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm conditional-build

      - name: Build Report
        # Use the PR body action to create a report of the build.
        id: build-report
        uses: streetsidesoftware/actions/public/pr-body@v1
        with:
          title: Build Results

      - name: Add to Summary
        uses: streetsidesoftware/actions/public/summary@v1
        with:
          text: ${{ steps.build-report.outputs.body}}
